Source: patool
Maintainer: Abhijith PA <abhijith@debian.org>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               bash-completion,
               python3-all (>= 3.5),
               python3-setuptools
Standards-Version: 4.6.2
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/debian/patool
Vcs-Git: https://salsa.debian.org/debian/patool.git
Homepage: https://wummel.github.io/patool/

Package: patool
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends}
Recommends: file
Suggests: arj,
          bzip2 | lbzip2 | pbzip2,
          cabextract | lcab,
          ncompress,
          cpio, lzop,
          p7zip-full,
          rar | unrar | zip | unzip,
          rpm2cpio,
          binutils,
          unace | unace-nonfree | nomarch,
          unalz,
          lrzip (>= 0.551),
          lhasa,
          tar (>= 1.26),
          xdms,
          lzip | plzip | clzip | pdlzip,
          sharutils,
          flac,
          libarchive-tools,
          archmage,
          genisoimage,
          python3-argcomplete
Description: command line archive file manager
 Various archive formats can be created, extracted, tested, listed,
 compared, searched and repacked by patool. The archive format is
 determined with file and as a fallback by the archive file extension.
 .
 patool supports 7z (.7z), ACE (.ace), ADF (.adf), ALZIP (.alz), AR (.a),
 ARC (.arc), ARJ (.arj), BZIP2 (.bz2), CAB (.cab), compress (.Z), CPIO (.cpio),
 DEB (.deb), DMS (.dms), FLAC (.flac), GZIP (.gz), ISO (.iso), LZH (.lha, .lzh),
 LZIP (.lz), LZMA (.lzma), LZOP (.lzo), RAR (.rar), RPM (.rpm), RZIP (.rz),
 SHAR (.shar), SHN (.shn), TAR (.tar), XZ (.xz), ZIP (.zip, .jar) and
 ZOO (.zoo) formats.
 .
 It relies on helper applications to handle those archive formats
 (for example bzip2 for BZIP2 archives).
 .
 The archive formats TAR, ZIP, BZIP2 and GZIP
 are supported natively and do not require helper applications to be
 installed.
